@charset "utf-8";
/* CSS Document */

*{margin:0; padding:0;}
ul,ol{list-style:none;}
a{text-decoration:none; color:inherit;}
body{position:relative;}
#top{position:fixed; right:20px; bottom:100px; cursor:pointer; width:80px; height:80px;}
/*header*/
header{width:100%;}
header > .wrap{width:1200px; height:167px; margin:auto; padding-top:47px;box-sizing:border-box; }

.logo{float:left; margin-left:42px;}

.search{float:left; margin-top:10px; margin-left:209px;}

.search > input{width:384px; border:none; border-bottom:1px solid black; vertical-align:baseline; color:black; outline:none; cursor:pointer; padding-bottom:20px;font-size:16px;}
.search>button{font-size:18px; outline:none; border:none; background-color:transparent;cursor:pointer;}



.icon{float:right; margin-top:10px; font-size:20px; }
.icon > li {float:left; margin-right:50px;}

/*menu*/
.menu{background-color:black; width:100%; height:94px;}

.menu > .wrap{width:1200px; height:100%; margin:auto; padding-left:170px; padding-top:39px; box-sizing:border-box;}



.gnb{color:white; font-family:Arial; font-size:20px; float:left;}

.gnb>li{float:left; margin-right:50px;}

/*home*/
.home{width:100%; height:60px; border-bottom:1px solid #747474;}
.home>.wrap{width:1200px; height:100%; margin:auto;  padding-top:20px; box-sizing:border-box;}
.home>.wrap img{width:25px; height:20px; margin-left:10px; float:left;}
.home>.wrap>button{outline:none; border:none; color:#747474; background-color:transparent;  font-size:18px; margin-left:10px; float:left; }

.hide{font-size:18px; color:#747474; float:left; }
.hide>li>button{outline:none; border:none; color:#747474; background-color:transparent;  font-size:18px; margin-left:10px; float:left; display:none;}
.hide > li{float:left; }
.hide > li > button.shown {display:block;}
/*.makeup*/
.makeup{width:100%; height: 320px; }
.makeup > .wrap{width:1200px; height:100%; margin:auto;padding-top:57px; padding-left:20px; box-sizing:border-box;}


.makeup h2{font-family:"Arimo"; font-size:40px; margin-bottom:72px;}
.btn > button{ background-color:transparent; color:#747474; font-size:20px; width:160px; height:48px; border:1px solid #747474; float:left; outline:none;  cursor:pointer;}
.btn > button:hover{color:#5f4b8b; border:1px solid #5f4b8b; font-weight:bold; }
/*.total*/
.total{width:100%; height:147px;}
.total > .wrap{width:1200px; margin:auto; height:100%; }

.total h2{font-family:"Arimo"; font-size:40px; margin-bottom:72px;}
.total h2 > span{color:#5f4b8b;}
.divide{width:100%; height:70px; border-top:1px solid #747474; border-bottom:1px solid #747474; padding-top:10px; box-sizing:border-box; }

.divide > button{ background-color:transparent; color:#747474; font-size:18px; width:120px; height:48px; border:none; float:left; outline:none;  cursor:pointer;}

/*product*/
.product{width:100%; margin-top:42px;hegiht:1650px;}
.product > .wrap{width:1200px; height:100%; margin:auto;}

table{width:100%; height:1650px; border-collapse:collapse; font-family:"Arimo" }
table td{border-bottom:1px solid #000;}
/*.button*/
.bttn{width:100%; height:378px;}
.bttn > .wrap{width:1200px; height:100%; margin:auto; padding-top:126px; box-sizing:border-box; position:relative;}


.wrapper{position:absolute; left:50%; transform:translateX(-50%);}
.bttn > .wrap >.wrapper> button{background-color:transparent; width:30px; height:30px; font-size:18px; border:1px solid #747474; color:#747474; cursor:pointer; outline:none;}

#mar_right > a >img { margin-right:30px;}



table td:nth-child(2){font-weight:bold;padding-top:150px; box-sizing:border-box; 
font-size:20px; }
table td:nth-child(3){text-align:center;  
font-size:20px; }
/*footer*/
footer{width:100%; height:330px; background-color:black;color:white; font-family:"Arimo";}
footer>.wrap{width:1200px; height:100%; margin:auto; padding-top:54px; box-sizing:border-box;}

.w_logo{float:left; margin-left:57px;}

.f_gnb{float:left; margin-left:136px; }
.f_gnb > li{float:left; margin-right:50px;}

.follow{color:white; font-family:"Arimo"; margin-top:140px; margin-left:330px; width:300px;}
.follow > p{color:white; margin-bottom:20px;}
.sns_icon{color:white; float:left; font-size:24px;}
.sns_icon > li{float:left; margin-right:20px;}

#rabbit{margin-left:200px; margin-top:-50px;	}


