@charset "utf-8";
/* CSS Document */

*{margin:0; padding:0;}
ul,ol{list-style:none;}
a{text-decoration:none; color:inherit;}
body{position:relative;}
#top{position:fixed; right:20px; bottom:100px; cursor:pointer; width:80px; height:80px;}
/*header*/
header{width:100%;}
header > .wrap{width:1200px; height:167px; margin:auto; padding-top:47px;box-sizing:border-box; }

.logo{float:left; margin-left:42px;}

.search{float:left; margin-top:10px; margin-left:209px;}

.search > input{width:384px; border:none; border-bottom:1px solid black; vertical-align:baseline; color:black; outline:none; cursor:pointer; padding-bottom:20px;font-size:16px;}
.search>button{font-size:18px; outline:none; border:none; background-color:transparent;cursor:pointer;}



.icon{float:right; margin-top:10px; font-size:20px; }
.icon > li {float:left; margin-right:50px;}

/*menu*/
.menu{background-color:black; width:100%; height:94px;}

.menu > .wrap{width:1200px; height:100%; margin:auto; padding-left:170px; padding-top:39px; box-sizing:border-box;}



.gnb{color:white; font-family:Arial; font-size:20px; float:left;}

.gnb>li{float:left; margin-right:50px;}

/*.one*/
.one{width:100%; height:940px;}
.one > .wrap{width:1200px; height:940px; margin:auto; }
.left{float:left;width:565px; height:938px; padding-top:120px; box-sizing:border-box;text-align:center;}
.small{float:left; margin-top:30px;margin-left:20px;}
.small>li{float:left; margin-left:30px;}
.rate{margin-top:30px; margin-left:50px;float:left;width:434px; height:42px; border-top:1px solid #747474; border-bottom:1px solid #747474;}
.rate > li{float:right;  line-height:42px; margin-left:8px;font-size:16px; font-weight:bold; color:#747474;}
.rate>li:first-child{margin-top:-3px;margin-right:5px;}

.view{margin-left:50px;float:left; width:434px; height:30px; border-bottom:1px solid #747474;}
.view > li{float:right; line-height:30px;}
.view>li>button{background-color:transparent; cursor:pointer; font-size:16px; font-weight:bold; color:#747474;outline:none; border:none; margin-left:15px; margin-right:5px;}
.view>li>span{font-size:16px; font-weight:bold; color:#747474; cursor:pointer;}

.right{float:left; font-family:"Arimo";padding-left:47px; box-sizing:border-box;}
.right > h3{font-size:22px; margin-top:120px; margin-bottom:67px;}
.right > table{font-size:20px;}
.color{color:#747474; width:260px;}
table{ width:500px; padding-bottom:30px; box-sizing:border-box;border-bottom:1px solid #747474;}


/*foundation*/
.foundation{ margin-top:10px; width:500px; height:195px;}
.foundation >li{width:40px; cursor:pointer; height:40px; background-color:black; border-radius:50px;float:left; margin-right:10px; margin-bottom:6px;}

.foundation>li:nth-child(1){background-color:#f7ddc6;}
.foundation>li:nth-child(2){background-color:#eccdb1;}
.foundation>li:nth-child(3){background-color:#e4c1ab;}
.foundation>li:nth-child(4){background-color:#f4caac;}
.foundation>li:nth-child(5){background-color:#ddb099;}
.foundation>li:nth-child(6){background-color:#d6b28e;}
.foundation>li:nth-child(7){background-color:#c3a283;}
.foundation>li:nth-child(8){background-color:#d2a480;}
.foundation>li:nth-child(9){background-color:#dbad89;}
.foundation>li:nth-child(10){background-color:#dcb083;}

.foundation>li:nth-child(11){background-color:#bf9471;}
.foundation>li:nth-child(12){background-color:#d5a383;}
.foundation>li:nth-child(13){background-color:#c99e73;}
.foundation>li:nth-child(14){background-color:#ca976f;}
.foundation>li:nth-child(15){background-color:#b47f5c;}
.foundation>li:nth-child(16){background-color:#bb885b;}
.foundation>li:nth-child(17){background-color:#be8856;}
.foundation>li:nth-child(18){background-color:#bd8d55;}
.foundation>li:nth-child(19){background-color:#b98661;}
.foundation>li:nth-child(20){background-color:#b47e50;}

.foundation>li:nth-child(21){background-color:#9a6c47;}
.foundation>li:nth-child(22){background-color:#af7a4d;}
.foundation>li:nth-child(23){background-color:#997059;}
.foundation>li:nth-child(24){background-color:#9c7346;}
.foundation>li:nth-child(25){background-color:#9e6c47;}
.foundation>li:nth-child(26){background-color:#8f5b36;}
.foundation>li:nth-child(27){background-color:#8c5a39;}
.foundation>li:nth-child(28){background-color:#8e5730;}
.foundation>li:nth-child(29){background-color:#804e2d;}
.foundation>li:nth-child(30){background-color:#74472a;}

/*.color_option*/
select{width:491px; height:38px; font-size:18px; outline:none; padding-left:5px; box-sizing:border-box; margin-bottom:30px;}

/*below*/
.below{width:491px; height:104px; border:1px solid #747474; padding-left:10px;padding-right:10px; box-sizing:border-box;}
.content{padding-top:10px; box-sizing:border-box; margin-bottom:40px;}
.content_top{display:flex;}
.content_top > li:first-child{width:450px; font-weight:bold;}
.content_top > li > button{font-size:20px; cursor:pointer; background-color:transparent; border:none; outline:none;}

.content_bottom{display:inline-flex; margin-top:30px; flex-direction:row;  align-items:center; width:410px;}
.content_bottom > li:nth-child(2) > button {width:60px; height:26px; outline:1px solid #747474; border:none; cursor:pointer;  background-color:transparent; }
.content_bottom > li:first-child > button, .content_bottom > li:last-child > button {width:26px; height:26px; outline:1px solid #747474; border:none; cursor:pointer; background-color:transparent;}
.content_bottom > span {color:#5f4b8b;}

.conent_total{display:flex; margin-bottom:30px; font-size:20px;}
.conent_total > li:last-child{font-weight:bold; color:#5f4b8b; margin-left:350px;}
.style{font-size:20px;width:30px; height:30px; border:1px solid #747474; background-color:transparent; outline:none; cursor:pointer; text-align:center;}

#num{width:90px; height:30px; border:1px solid #747474; background-color:transparent; outline:none; cursor:pointer; font-size:20px; }

.content > li:last-child{float:right; margin-top:7px; color:#5f4b8b; font-weight:bold;}

.below > table {width:491px; border:none; font-family:"Arimo"; font-weight:bold;font-size:18px; }
#total{width:195px; font-size:20px;}
#purple{color:#5f4b8b;}

/*btns*/
.btns{float:left;}
.btns>li{float:left;}
.btns>li:first-child>button, .btns>li:nth-child(2)>button{ width:60px; height:60px; outline:none; background-color:transparent; border:1px solid #747474; cursor:pointer;font-size:30px; text-align:center; color:#747474; margin-right:10px;}
.btns > li:nth-child(3)>button{width:171px; height:60px; background-color:transparent; font-size:20px;  margin-right:20px;font-weight:bold; border:1px solid #747474; outline:none;  color:#747474;}
.btns > li:nth-child(4)>button{width:130px; height:60px; background-color:transparent; font-size:20px; font-weight:bold; border:1px solid #747474; outline:none; cursor:pointer; color:#747474;}

/*check*/
.check{width:100%; hegiht:108px; margin-bottom:120px;}
.check>.wrap{width:1200px; height:100%;margin:auto;}
.check>.wrap>img{width:100%; height:100%;}

/*middle*/
.middle_container{width:100%; height:85px;  position:relative;}
.middle{width:100%; height:85px; z-index:99; display:block; position:absolute; top:0; left:0; bottom:auto;}
.middle>.wrap{width:1200px; height:100%; margin:auto; background-color:#e1e1e1; padding-left:40px; padding-top:25px; box-sizing:border-box;}
.gnbs{display:flex; font-size:20px; font-weight:bold; color:#747474;}
.gnbs>li{align-content:center; margin-right:25px;} 
.gnbs>li.active{color:#5f4b8b;}
/*.outline*/
.outline{width:100%; }
.wrapper{width:1200px;  margin:auto; padding-top:118px; box-sizing:border-box; position:relative;}
#left{width:918px;  text-align:center;}
#left > li{margin-bottom:195px;}

#how{width:918px; text-align:center;}

#how>li:nth-child(1){font-family:Cooper Black; font-size:36px; margin-bottom:106px; }

#how>li:nth-child(2)>button{background-color:rgba(95,75,139,0.6); color:white; font-size:30px; font-weight:bold; font-family:"Arimo"; width:201px; height:50px; border-radius:50px; outline:none; border:none; margin-bottom:70px;}
#how>li:nth-child(3){margin-bottom:30px;}
#how>li:nth-child(4){font-size:18px; font-family:"Arimo"; text-align:center;margin-bottom:100px;}



#how>li:nth-child(5)>button{background-color:rgba(95,75,139,0.6); color:white; font-size:30px; font-weight:bold; font-family:"Arimo"; width:201px; height:50px; border-radius:50px; outline:none; border:none; margin-bottom:70px;}

#how>li:nth-child(6){margin-bottom:30px;}
#how>li:nth-child(7){font-size:18px; font-family:"Arimo"; text-align:center;margin-bottom:70px;}




#how>li:nth-child(8)>button{background-color:rgba(95,75,139,0.6); color:white; font-size:30px; font-weight:bold; font-family:"Arimo"; width:201px; height:50px; border-radius:50px; outline:none; border:none; margin-bottom:70px;}
#how>li:nth-child(9){margin-bottom:30px;}
#how>li:nth-child(10){font-size:18px; font-family:"Arimo"; text-align:center;margin-bottom:150px;}
#how>li:nth-child(11){margin-bottom:100px; }

/*.box*/
.box{width:width:100%; height:423px; margin-bottom:84px;}
.box > .wrap{width:1200px; height:423px;margin:auto;}
.info{width:918px; height: 82px; background-color:#eeeeee; }
.title{font-family:"Arimo"; font-weight:bold; font-size:18px; line-height:82px; padding-left:15px; box-sizing:border-box;}
.info >table{height:344px; width:100%; border-bottom:1px solid #747474; font-family:"Arimo";}

.info >table >tr{text-align:center;}

#bold{font-weight:bold; padding-top:50px; padding-left:10px;box-sizing:border-box; margin-left:10px;}
#ex{font-size:16px; line-height:30px; padding-top:40px; box-sizing:border-box;}

.box2{height:694px; margin-bottom:280px;}

.box3{height:874px; margin-bottom:209px;}


/*write*/
.write{width:100%; height:230px; }
.write > .wrap{width:1200px; height:230px; margin:auto;}
.review_box{width:918px; height:100%; margin-bottom:120px; text-align:center; border-bottom:1px solid #747474; border-top:1px solid #747474;}

.review_b{float:left;  width:459px; height:100%; border-right:1px solid #747474; }
.review_b > li {font-family:Calibri; font-size:24px; font-weight:bold; line-height:40px; }
.review_b > li  span{color:#5f4b8b; margin-right:5px;}
.review_b>li:first-child{margin-top:50px;}
.heart{float:left;  margin-top:20px; margin-left:155px; text-align:center; font-size:25px;} 
.heart > li{float:left; margin-right:5px; color:#5f4b8b; }
.heart > li:last-child{color:#747474;}

.write_review{width:459px; height:100%; margin:auto;  padding-left:350px; padding-top:84px; box-sizing:border-box;}
.write_review button{width:210px; height:65px;  background-color:#5f4b8b; color:white; font-size:20px; font-family:Calibri; outline:none; border:none; }

.option {display:flex; margin-top:112px; margin-bottom:20px; }
.option>input{width:20px; height:20px;}
.option>span{font-family:"Arimo"; margin-left:10px; vertical-align:middle; font-size:16px; color:#747474;}

.people_btn{width:918px; height:66px; border:1px solid #747474; padding-top:20px;  box-sizing:border-box; border-bottom:1px solid #747474; display:flex;}
.people_btn > li:first-child{margin-left:21px; }
.people_btn > li > button.on {color:#5f4b8b;  font-weight:bold;}
.people_btn button{background-color:transparent; font-size:20px; margin-right:30px; outline:none; border:none; cursor:pointer; color:#747474; font-family:"Arimo";}

.people{width:918px;}
.people_one{width:918px;  display:flex; justify-content: flex-start; border-bottom:1px solid #747474; }
.table{width:186px; height:187px;  display:flex;justify-content:column; }
.reason{width:570px; height:187px;    padding-left:10px;  box-sizing:border-box;  display:flex; flex-direction:column; }
.date{width:162px; height:187px; display:flex; flex-direction:column; align-content: flex-end;  }

.date > span{margin-left:80px; margin-top:20px;}
.heart_rate{display:flex; flex-direction:row;  margin-top:40px; margin-left:50px;}
.heart_rate > li{margin-right:8px;}
.user_info{display:flex; flex-direction:column; text-align:center; margin:auto;}
.user_info > li > i {font-size:60px; color:#747474; margin-bottom:10px;}
.usder_info >li:last-child {font-size:16px;}

.reason_btn{display:flex; flex-direction: row; font-size:18px; margin-top:10px; margin-bottom:30px;}
.reason_btn > li{margin-right:10px;}
.reason_btn > li.on{font-weight:bold;color:#5f4b8b;  }
.reason > span {font-weight:bold; font-size:18px; margin-bottom:10px; }
.reason > p {font-weight:bold; font-size:18px; margin-bottom:20px;}
.reason > button{font-size:18px; color:#747474; background-color:transparent; border:none; outline:none; cursor:pointer; justify-content: flex-start;}


/*people_page*/
.people_page{display:flex; flex-direction:row; margin-top:120px;   margin-left:265px; margin-bottom:115px; }
.people_page button{font-size:18px; color:#747474; background-color:transparent; border:1px solid #747474; outline:none; cursor:pointer; width:30px;  height:30px; }
.people_page > li { margin-right:15px; }

#question{width:918px; height:40px; border-bottom:1px solid #747474; display:flex; flex-direction:row; }
#question_left{display:flex; justify-content: row; font-size:18px; color:#747474; margin-top:18px;}
#question_left > li:last-child{color:#5f4b8b;font-size:18px; font-weight:bold; margin-left:8px;  }

#question_right{display:flex; flex-direction:row;  margin-left:610px;}
#question_right > li {}
#question_right button{margin-left:40px; width:110px; height:40px; background-color:#5f4b8b; outline:none;  font-size:16px; border:none; color:white;}
#question_right > li:nth-child(2){width:80px; margin-top:18px; }
#question_right > li:first-child{margin-top:22px; margin-right:6px;}

/*question_Box*/
.question_box{width:918px;  }
.question_wrppaer{width:100%; }
.question_wrap{width:100%; height:84px; border-bottom:1px solid #747474; align-items:center;  display:flex; flex-direction:row; padding-left:10px; box-sizing:border-box; }
.question_wrap > button{width:80px; height:24px; background-color:#5f4b8b; border:none; outline:none; cursor:pointer; color:white; font-size:16px; }
.question_title{display:flex; flex-direction:row; margin-left:50px; font-weight:bold; font-size:16px; color:black;}
.question_title > li:first-child {margin-right:15px;}
.question_title > li:last-child{margin-left:30px;}
.question_detail{display:flex; flex-direction:row; margin-left:180px;}
.question_detail > li:first-child{font-weight:bold; font-size:16px;  margin-right:76px;}
/*fixed*/
.fixed{width:280px;  height:712px;  position:absolute; right:0; top:0;}
.top{width:280px; height:712px; margin-bottom:22px; border:1px solid #747474;}

#select{width:270px; height:38px; margin-left:5px; margin-top:40px; font-size:16px; }

/*.under_box*/
.under_box{width:268px; height:104px; outline:1px solid #747474; margin-left:6px;  margin-bottom:160px; padding-left:3px; box-sizing:border-box;}
.under_top{display:flex; }
.under_top > li{font-size:16px;}
.under_top > li > button{background-color:transparent; outline:none; border:none; cursor:pointer; font-size:16px; margin-right:3px; }
.num_btn{display:inline-flex;margin-top:20px; width:206px;  cursor:pointer; }
.num_btn > li:first-child > button, .num_btn>li:last-child > button{width:26px; height:26px; background-color:transparent; font-size:16px; border:none; outline:1px solid #747474; }
.num_btn > li:nth-child(2) > button{width:60px; height:26px; outline:1px solid #747474; cursor:pointer; background-color:transparent; font-size:16px; border:none; margin-top}
.under_bottom > span {color:#5f4b8b; font-size:16px; }

/*total_box*/
.total_box{width:100%; border-top:1px solid #747474; padding-top:10px; box-sizing:border-box;}
.total_top{display:flex; justify-content:space-between; align-items:center; margin-bottom:80px;}
.total_top > li:first-child{font-weight:bold; font-size:20px; margin-left:5px;}
.total_top > li:last-child{font-weight:bold; font-size:18px; margin-right:5px; color:#5f4b8b;}

/*total_btns*/
.total_btns{display:flex; flex-direction:column;}
.total_btns > li > button {width:268px; margin-bottom:50px; margin-left:5px;  height:60px; font-size:18px; color:white; background-color:#5f4b8b; outline:none; border:none; cursor:pointer;} 




/*gray*/
.gray{width:100%; height:805px; background-color:#eee;}
.gray > .wrap{width:1200px; height:100%; margin:auto; padding-left:35px; padding-top:30px; box-sizing:border-box;  }
.gray > .wrap > h3{ font-family:Arimo; font-size:24px; margin-bottom:90px;}

.product_list{margin-left:45px; }
.product_list > li {float:left; position:relative;width:316px; height:480px; margin-bottom:40px; background-color:white;}
.product_list > li:hover .hover{display:block;}
.product_list > li:nth-child(2){ margin:0 80px;}
.product_list > li:nth-child(5){ margin:0 80px;}

.de{margin-top:40px;font-family:"Arimo"; cursor:pointer; text-align:center; }
.de > li:nth-child(1){margin-bottom:30px;}
.de > li:nth-child(2){ line-height:24px; margin-bottom:20px;}
.de > li:last-child{font-weight:bold;}

.last{margin-top:100px;}
.last > li:first-child{margin-bottom:40px;}

/*.hover*/
.hover{position:absolute; top:0; left:44px; width:316px; height:480px; display:none; }

.hover button{background-color:black; color:white; width:230px; height:70px; font-size:24px; margin-top:200px; outline:none; border:none; cursor:pointer; }

/*footer*/
footer{width:100%; height:330px; background-color:black;color:white; font-family:"Arimo";}
footer>.wrap{width:1200px; height:100%; margin:auto; padding-top:54px; box-sizing:border-box;}

.w_logo{float:left; margin-left:57px;}

.f_gnb{float:left; margin-left:136px; }
.f_gnb > li{float:left; margin-right:50px;}

.follow{color:white; font-family:"Arimo"; margin-top:140px; margin-left:330px; width:300px;}
.follow > p{color:white; margin-bottom:20px;}
.sns_icon{color:white; float:left; font-size:24px;}
.sns_icon > li{float:left; margin-right:20px;}

#rabbit{margin-left:200px; margin-top:-50px;	}